:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #292b20;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.App {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  
}
.App-title {
  font-size: 40px;
  color: #efff08;
  text-align: center;
  margin: 0;
}


.todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.todo-form input {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
 .todo-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #efff08;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}
.todo-form button:hover {
  background-color: #e0ee18;
}


.todo-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todo-list li {
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-list li:hover {
  background-color: #3a3a3a;
}
.todo-list li.completed {
  text-decoration: line-through;
  color: gray;
}


.editBtn, .dltBtn {
  margin-left: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  background: none;
}
.editBtn:hover {
  background-color: #efff08;
  color: rgb(0, 0, 0);
}
.dltBtn:hover {
  background-color: #f32424;
  color: white;
}

.footer {
  text-align: center;
  color: gray;
  margin-top: 20px;
  font-size: 12px;

}